.text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  text-align: center;      /* Ensures text is centered */
  height: 100vh;           /* Makes the element take the full viewport height */
  width: 100vw;            /* Makes the element take the full viewport width */
}

#name {
  padding-top: 200px;
  padding-bottom: 18px;
  font-size: 2.0rem;
}

#to_projects {
  margin-bottom: 10px;
  margin-top: -60px;
  height: 5px;
}

.highlighted {
  color: orange;
}

.school {
  padding-top: 3px;
}

#linkedin {
  width: 35px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-left: -20px;
}

#github {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-left: 30px;
}

.resume {
  display: block;
  text-decoration: none; /* Removes underline */
  color: inherit;        /* Optional: Inherits the text color from the parent element */
  margin-top: 3px;
}

.code-block {
  margin-top: 100px;
  background-color: #2e2e2e; /* Dark background color for the editor look */
  color: #f8f8f2; /* Light text color to contrast with the background */
  border: 1px solid #444; /* Border to mimic editor styling */
  padding: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for code */
  white-space: pre; /* Preserve whitespace and formatting */
  height: 70px;
  font-size: medium;
  line-height: 1.5; /* Adjust line-height for readability */
}

.resume:hover {
  color: #858585;
}

.links {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.about {
  font-size: 1.4rem; /* Enlarges the text (adjust size as needed) */
  font-weight: normal; /* Makes the text bold */
  margin: 0;         /* Removes default margin if needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  text-align: center;      /* Ensures text is centered */
  height: 100vh;           /* Makes the element take the full viewport height */
  width: 100vw;            /* Makes the element take the full viewport width */
}

#title {
  font-size: 2.5rem; /* Enlarges the text (adjust size as needed) */
  font-weight: bold; /* Makes the text bold */
  margin: 0;         /* Removes default margin if needed */
}

#aftertitle {
  margin-left: 5px;
  font-size: 2.0rem; /* Enlarges the text (adjust size as needed) */
  animation: blink 2s step-start infinite; /* Apply blinking animation */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Style for the button */
.enter-button {
  background-color: transparent; /* Button background color */
  color: white;              /* Icon color */
  border: none;              /* Remove border */
  border-radius: 4px;       /* Rounded corners */
  font-size: 24px;          /* Font size for the icon */
  cursor: pointer;          /* Pointer cursor on hover */
  align-items: center;
  margin-top: 100px;
}

#buttonimg {
  width: 150px; /* Adjust width as needed */
  height: 70px; /* Adjust height as needed */
  margin-top: 100px;
  display: block;
}

.enter-button:hover img {
  filter: invert(54%) sepia(25%) saturate(8%) hue-rotate(325deg) brightness(93%) contrast(91%);
}