.textbox {
  padding-left: 30px;
  padding-top: 20px;
}

.assignment {
  font-size: 15px;
}

.goals-container {
  margin-top: 30px;
}
.goals-container-clicked {
  margin-top: 30px;
  display: none;
}
.teaching-container {
  margin-top: 30px;
}
.teaching-container-clicked {
  margin-top: 30px;
  display: none;
}
.skills-container {
  margin-top: 30px;
}
.skills-container-clicked {
  margin-top: 30px;
  display: none;
}
.projects-container {
  margin-top: 30px;
}
.projects-container-clicked {
  margin-top: 30px;
  display: none;
}
.jobs-container {
  margin-top: 30px;
}
.jobs-point {
  font-size: 15px;
}

.links {
  text-decoration: none;
}

.aws {
  font-weight: bold;
  text-decoration: none;
}

.aws:hover {
  color: blueviolet
}

.links:hover {
  color: blueviolet
}

.paragraph {

}

.example {
  display: flex;
  flex-direction: row;
}

.code {
  white-space: pre;
  overflow-y: scroll;
  height: 300px;
  border-color: black;
  color:rgb(234, 234, 234);
  background-color: rgb(34, 34, 34);
  border-width: 10px;
}

.source {
  border: solid;
  border-radius: 9px;
  padding: 10px;
  width: 600px;
}

.output {
  border: solid;
  border-radius: 9px;
  padding: 10px;
  width: 800px;
}

.owen {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 500px;
  top: 25px;
  border-style:solid;
  border-width: 7px;
}


.jobs-container-clicked {
  margin-top: 30px;
  display: none;
}

.cornbear {
  width: 70px;
  border-width: 100px;
}

.sub {
  font-size: 13px;
}

.block {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line {
  background-color: black;
  height: 3px;
}
.vertline {
  background-color: black;
  width: 10px;
}

.goals {
  font-size: small;
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
}